{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="text-center">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-evenly">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list') }}" class="btn btn-info">Consulter les tâches</a>
        <a href="{{ path('task_done_list') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    </div>
{% endblock %}
