<div class="card h-100">
    <div class="card-header">
        {% if task.isDone == false %}
            <span class="badge badge bg-secondary">Non fait</span>
        {% endif %}
        {% if task.isDone == true %}
            <span class="badge badge bg-success">Fait</span>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4><a class="text-dark" href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
        </div>
        <p class="card-text">{{ task.content }}</p>
        <small class="card-text text-muted">Edité par
            {% if task.user %}
                <i>{{ task.user.username }}</i>
            {% else %}
                <i>Anonyme</i>
            {% endif %}
        </small>
        <br>
        <small class="card-text text-muted">Crée le <i>{{ task.createdAt | date('d-m-Y') }}</i></small>
    </div>

    <div class="card-footer d-flex">
        <form action="{{ path('task_toggle_done', {'id' : task.id }) }}">
            {% if not task.isDone %}
                <button class="btn btn-success btn-sm pull-right me-2">Fait</button>
            {% else %}
                <button class="btn btn-secondary btn-sm pull-right me-2">Non fait</button>
            {% endif %}
        </form>
        <form action="{{ path('task_delete', {'id' : task.id }) }}">
            <button class="btn btn-danger btn-sm pull-right me-2">Effacer</button>
        </form>
    </div>
</div>