{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}"
                           alt="todo list"><h1 class="text-center">Liste des tâches terminées</h1>{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div id="message" class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="text-center mb-3">
        <a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="grid">
                {% for task in tasks %}
                        {% include 'task/_card.html.twig' %}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}"
                                                                     class="btn btn-warning pull-right">Créer une tâche</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
