{% extends "base.html.twig" %}

{% block title %} {{ status_code }} - {{ status_text }} {% endblock %}

{% block body %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">{{ status_code }}</span>
                <div class="mb-4 lead">Vous ne pouvez pas effectuer d'action car vous n'êtes pas propriétaire de cette tâche.</div>
                <a href="{{ path('app_home') }}" class="btn btn-link">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}